<ng-container *ngIf="info$ | async as profileInfo">
  <ng-container *ngIf="isEditable; else readonlyTpl">
    <form [formGroup]="formGroup" class="profile-info-form">
      <div class="form-group">
        <label class="form-label" for="input-example-1">Name</label>
        <input formControlName="userName" class="form-input" type="text" id="input-example-1" placeholder="Name">
      </div>

      <div class="form-group">
        <label class="form-label" for="input-example-3">Feedback</label>
        <textarea formControlName="feedback" class="form-input" id="input-example-3" placeholder="Feedback" rows="5"></textarea>
      </div>
    </form>
  </ng-container>

  <ng-template #readonlyTpl>
    <div class="label">Name</div>
    <div class="value">{{ profileInfo.userName }}</div>

    <div class="label">Feedback</div>
    <div class="value">{{ profileInfo.feedback }}</div>
  </ng-template>
</ng-container>
