<div *ngIf="!thing; else thingEditor">
  <div class="columns">
    <div class="column col-auto">
      <form
        #thingForm="ngForm"
        class="thing-form"
        (ngSubmit)="thingsService.createThing(thingForm.value.name, thingForm.value.type); thingForm.reset();">

        <div class="form-group">
          <label class="form-label" for="input-example-1">Name</label>
          <input ngModel class="form-input" type="text" name="name" id="input-example-1" placeholder="Name">
        </div>

        <div class="form-group">
          <label class="form-label" for="input-example-2">Type</label>
          <select ngModel name="type" class="form-select" id="input-example-2">
            <option >Choose an option</option>
            <option value="foo">Foo</option>
            <option value="bar">Bar</option>
            <option value="baz">Baz</option>
          </select>
        </div>

        <button class="btn btn-success btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>

<ng-template #thingEditor>
  <div class="columns">
    <div class="column">
      <div class="h3">{{ thing.name }}</div>
      <pre>{{ thing | json }}</pre>
    </div>
  </div>
</ng-template>
